{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stock/stockInfo.css' %}">
</head>
<body>
    {% include 'main/mainBar.html' %}
    <form action="{% url 'search' %}" method="get">
        <div id="searchBar">
           <input type="text" id = "input" name = "keyword" value = "{{stockData.stockName|default_if_none:''}}"> 
           <button id="search">검색</button>
        </div>
     </form>   
    <hr id = "searchBarHr">
    <div id="container"> 
        <div id = "sinfo">
            <span id = "title">기업정보</span><br>
            <div class = "col">
                종목명<br>
                종목코드<br>
                상장일<br>
                액면가<br>
                상장주식수<br>
            </div>
            <div class = "row">
                {{stockData.stockName}}<br>
                {{stockData.stockCode}}<br>
                {{stockData.ipoDate}}<br>
                {{stockData.perValue}}원<br>
                {{stockData.stockNum}}주
            </div>
            {% if user.is_authenticated %}
            <form action="{% url 'stockLike' stockData.stockCode %}" method="POST">
                {% csrf_token %}
                {% if request.user in stockData.likeUsers.all %}
                <button class = "remove">삭제</button>  
                {% else %}  
                <button class = "add">추가</button>
                {% endif %}
            </form>
            {% else %}
            <form>
                <button onclick="addAlert()" class = "select">추가</button>
            </form>
            <script>
                addAlert = () => {
                    alert('로그인 후 이용가능');
                }
            </script>
            {% endif %}      
        </div><br>    
        <div id = "spostsTop">
            <span id="title">인기글</span><br>
            <div id="topOpinion">
                {{topOpinion}} 
            </div><br> 
            {% if topPosts %}
                {% for post in topPosts %}
                <a href="{% url 'detailPost' post.pk %}">{{post.likeCount}} {{post.title}}[{{post.commentCount}}] {{post.author.username}} {{post.strategy}}</a><br>
                {% endfor %}
            {% else %}
                인기글 없음
            {% endif %}
        </div>
        <div id = "spostsAll">
            <span id="title">전체글</span>
            <a href="{% url 'newPost' stockData.stockCode %}"><button id = "write">글쓰기</button></a><br>          
            <div id="opinion">
                {{opinion}} 
            </div><br>  
            {% if posts %} 
            {% for post in pageObj %}
                <tr>
                    <td><a href="{% url 'detailPost' post.pk %}">{{post.title}}</a>[{{post.commentCount}}]</td>
                    <td>{{post.author.username}}</td>
                </tr>
            <br>            
            {% endfor %}
            <nav aria-label = "Page navigation">
                <ul class="pagination">
                    {% if pageObj.has_previous %}
                    <li class="page-item">
                        <a class = "page-link" href="?page={{pageObj.previous_page_number}}">이전</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class = "page-link" href="#">이전</a>
                    </li>
                    {% endif %}
                    {% for page in pageRange %}
                    
                    {% if pageObj.number == page %}
                    <li class="page-item-active">
                        <a class = "page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class = "page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if pageObj.has_next %}
                    <li class="page-item">
                        <a class = "page-link" href="?page={{pageObj.next_page_number}}">다음</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class = "page-link" href="#">다음</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% else %}
                글 없음
            {% endif %}            
        </div><br>
    </div>    
    <div id = sanalysis> 
        <form action="{% url 'stockAnalysis' stockData.stockCode %}" method="POST">
            {% csrf_token %}
            <div>
                <input type="date" name="start" min = "{{startDate}}", max = "{{endDate}}", defaultValue = "{{endDate}}">
                <div id="type">
                    <label>거래량 <input type="checkbox" name="checkbox1" id="checkbox1"></label>
                    <label>종가<input type="checkbox" name="checkbox2" id="checkbox2"></label>
                    <label>코스피<input type="checkbox" name="checkbox3" id="checkbox3"></label>
                    <!-- <label>영업이익<input type="checkbox" name="checkbox4" id="checkbox4"></label>
                    <label>매출액<input type="checkbox" name="checkbox5" id="checkbox5"></label>
                    <label>개인/기관/외국인<input type="checkbox" name="checkbox6" id="checkbox6"></label> -->
                </div>
            </div>
            <button id = "analysis">분석</button>
        </form>
        <br>
        {% if recommendations %}
        {{recommendations}}
        {% endif %}
    </div>    
</body>
</html>


