<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'signIn' %}">로그인</a>
    <a href="{% url 'signOut' %}"><user.name>님 로그아웃</a>
    ------------------------------------------
    <a href="{% url 'detailStockPost' %}">거래량순</a>
    <a href="{% url 'detailStockPost' %}">좋아요 거래량순</a>
    ------------------------------------------
    현재 주요지수 : 코스피 - <kospi_total> 나스닥 - <nasdaq> 
    좋아요 : <kospi_likes>

    각 지수 비교하는 그래프도 제공
</body>
</html>