<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if stockData %}
        주식 코드: {{stockData.stockCode}}<br>
        주식 이름: {{stockData.stockName}}<br>
        상장일: {{stockData.ipoDate}}<br>
        상장시장종류: {{stockData.kospi}}<br>
        액면가: {{stockData.perValue}}<br>
        상장주식수: {{stockData.stockNum}}(주)
        <form action="{% url 'stockLike' stockData.stockCode %}" method="POST">
            <button>추가</button>
        </form>
        <div>
            분석 시작 날짜<br>
            <form action="{% url 'priceStock' stockData.stockCode %}" method="POST">
                {% csrf_token %}
                <input type="date" name="start">
                <button>분석</button>
            </form>
            /분석 종류 필터
            /분석 결과
            /애널리스트 분석 보고서 있을 경우 같이 제공
        </div>

        <div>
            관련 종목게시판 글: 
        </div>
    {% endif %}
    
</body>
</html>