<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
           display: inline-block;
        }
     </style>
     <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    {% if stockData %}
        주식 코드: {{stockData.stockCode}}<br>
        주식 이름: {{stockData.stockName}}<br>
        상장일: {{stockData.ipoDate}}<br>
        상장시장종류: {{stockData.kospi}}<br>
        액면가: {{stockData.perValue}}원<br>
        상장주식수: {{stockData.stockNum}}주

        {% if user.is_authenticated %}
        {{stockData.likeCount}}
        <form action="{% url 'stockLike' stockData.stockCode %}" method="POST">
            {% csrf_token %}
            {% if userInStock %}
            <button>삭제</button>  
            {% else %} 
            <button>추가</button>
            {% endif %}
        </form>
        {% else %}
        <form>
            <button onclick="addAlert()">추가</button>
        </form>
        <script>
            addAlert = () => {
                alert('로그인 후 이용가능');
            }
        </script>
        {% endif %}        
        
        <div>
            <br>
            <form action="{% url 'stockAnalysis' stockData.stockCode %}" method="POST">
                {% csrf_token %}
                <div>
                    <input type="date" name="start" min = "{{startDate}}", max = "{{endDate}}", defaultValue = "{{endDate}}">
                    <div id="type">
                        <label>거래량 <input type="checkbox" name="checkbox1" id="checkbox1"></label>
                        <label>종가<input type="checkbox" name="checkbox2" id="checkbox2"></label>
                        <label>코스피<input type="checkbox" name="checkbox3" id="checkbox3"></label>
                    </div>
                </div>
                <button>분석</button>
            </form>
            <br>
            {% if recommendations %}
            {{recommendations}}
            {% endif %}
        </div>
        <t>
        {{strategyText}}<br>
        인기글<br>
        {% for post in topPosts %}
        <a href="{% url 'detailPost' post.pk %}">{{post.title}}[{{post.commentCount}}] {{post.likeCount}}</a><br>
        {% endfor %}
        전체글<br>
        <div>
            <a href="{% url 'newPost' stockData.stockCode %}"><button>글쓰기</button></a><br>            
            {% if posts %} 
            {% for post in posts %}
            <a href="{% url 'detailPost' post.pk %}">{{post.title}}</a>[{{post.commentCount}}]<br>            
            {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    
</body>
</html>


