hr{
    position: absolute;
    top: 252px;
    left: 576px;
    width: 250px;
    border: 0.5px solid black;
}
.title{
    position: absolute;
    top: 216px;
    left: 650px;
    font-size: x-large;
}
.container{
    position: absolute;
    top: 275px;
    left: 637px;
    width: 300px;
    font-size: large;
}
.col{
    text-align: right;
    float: left;
}
.row{
    margin-left: 11px;
    text-align: left;
}
.mdfBtn{
    background-color:rgb(145, 191, 222);
    width: 49px;
    height: 35px;
    border-radius:11px;
    margin-left: 36px;
    margin-top:11px; 
}