hr{
    position: absolute;
    top: 252px;
    left: 576px;
    width: 300px;
    border: 0.5px solid black;
}
.title{
    position: absolute;
    top: 216px;
    left: 650px;
    font-size: x-large;
}
.container{
    position: absolute;
    top: 275px;
    left: 575px;
    width: 300px;
    /* border: 1px solid rgb(103, 158, 195); */
    font-size: large;
}
button{
    background-color:rgb(145, 191, 222);
    width: 56px;
    height: 35px;
    border-radius:11px;
    margin-left: 100px;
    margin-top:11px; 
}
.col{
    margin-top: 5px;
    text-align: right;
    float: left;
}
.row{
    margin-left: 8px;
    text-align: left;
}