.container{
    position: absolute;
    top: 161px;
    left: 450px;
    width: 600px;
    font-size: large;
} 
.titleCss{
    width: 450px;
    height: 25px;
}
.contentCss{
    width: 500px;
    height: 250px;
}
.strategyCss{
    
}
.postWrite{ 
    background-color:rgb(103, 158, 195);
    width: 65px;
    height: 40px;
    border: 1px solid rgb(103, 158, 195);
    border-radius:11px;
    margin-left:250px;
    margin-top:30px;
}
#label{
    margin-top: 11px;
}
#contentField{
    margin-left: 51px;
}
#otherField{
    margin-top: 11px;
    margin-left: 11px;
}