{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/detailMyPage.css' %}">
</head>
<body>
    {% include 'main/mainBar.html' %}
    <span class = "title">회원정보</span>
    <hr>
    <div class="container">
        <div class = "col">
            아이디<br>
            이메일<br>
            타입<br>
        </div>
        <div class = "row">
            {{request.user.username}}<br>
            {{request.user.email}}<br>
            {{request.user.strategy}}<br> 
        </div><br>
        <a href="{% url 'editMyPage' %}"><button class = "mdfBtn">수정</button></a>
    </div>
    
</body> 
</html>