{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/editMyPage.css' %}">
</head>
<body >
    {% include 'main/mainBar.html' %}
    <span class = "title">회원정보 수정</span>
    <hr>    
    <form action="{% url 'editMyPage' %}" method="post">
        {% csrf_token %}       
        <div class="container">
            <div class = "col">
                아이디<br>
                비밀번호<br>
                비밀번호 확인<br>
                이메일<br>
                투자 전략 타입<br>
            </div>
            <div class = "row">
                {{request.user.username}}<br>
                <input type="password" id = "password1" name ="password1" maxlength="30"><br>
                <input type="password" id = "password2" name ="password2" maxlength="30"><br>
                <input type="email" id = "email" name ="email" value = "{{request.user.email}}" maxlength="30"><br>
                <select name="strategy" id="strategy" name="strategy">
                    <option value="안전형">안전형</option>
                    <option value="중립형">중립형</option>
                    <option value="위험형">위험형</option>
                </select>
            </div><br>
            <button>수정</button>
        </div>  
    </form>
    {% if error %}
    <script> 
        alert("{{error}}");
    </script>
    {% endif %}
</body> 
</html>