{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/signIn.css' %}">
</head>
<body>
    {% include 'main/mainBar.html' %}
    <span class = "title">로그인</span>
    <hr>    
    <form action="{% url 'signIn' %}" method="post">
        {% csrf_token %}
        {% for field in form %}                
        {% if field.errors %}
        {% for error in field.errors %}
        <script>
            alert('{{error}}');
        </script>
        {% endfor %}
        {% endif %}
        {% endfor %}
        <div class="container">
            <div class = "col">
                {% for field in form %}
                {{field.label}}<br>
                {% endfor %}
            </div>
            <div class = "row">
                {% for field in form %}
                {{field}}<br>
                {% endfor %}
            </div>
            <span id = "signUpLink"><a href="{% url 'signUp' %}">회원가입</a></span><br>
            <button>로그인</button><br>    
        </div>   
    </form>  
</body>
</html>