<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'signIn' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{field.label}}: {{field}}<br>
            {% if field.errors %}
            {{field.errors}}
            {% endif %}
        {% endfor %}
        <button>로그인</button><br>    
    </form>
    <a href="{% url 'signUp' %}">회원가입 링크</a>    
</body>
</html>