{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'post/newPost.css' %}">
</head>
<body>
    {% include 'main/mainBar.html' %}
    <form action="{% url 'newPost' stock.stockCode %}" method="post">
        {% csrf_token %} 
        <div class="container">
            종목명 {{stock.stockName}}<br>
            작성자 {{request.user}}<br>
            {% for field in postForm %}
                <div id="label">
                    {{field.label}}
                </div>
                {% if field.label == '내용' %}
                <br>
                <div id="contentField">
                    {{field}}
                </div>
                {% else %}
                <div id="otherField">
                    {{field}}
                </div>
                {% endif %}                
                <br> 
                {% if field.errors %}
                {{field.errors}} 
                {% endif %}
            {% endfor %}
            <button class = "postWrite">작성</button>
        </div>
    </form>
</body>
</html>