/* 공통 */
 div{
    display: inline-block;
 }
 /* 공통 */
 a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
 }
 /* 공통 */
 .btn{
    background-color:rgb(103, 158, 195);
    width: 55px;
    height: 35px;
    border: 1px solid rgb(103, 158, 195);
    border-radius:11px;
 }
 .hrBar{
    margin-left: 175px;
    margin-top: 30px;
    width: 1150px;
    border: 1px solid rgb(25, 120, 184);
 }  
 .rankingTitle{
    font-size: large;
    font-weight: 600;
 }
 .ranking{
    margin-top: 11px;
 }
 .keyword{
    width: 300px;
    height: 29px;
    border-radius: 5px;
 }
 .searchBar{
    margin-top: 36px;
    margin-left: 550px;
 }   
 .red{
    color:red;
    font-weight: 600;
 }
 .blue{
   color:blue;
   font-weight: 600;
 }
 #userRanking{
   margin-top: 11px;
   display: flex;
 }
 #idxContainer{
    margin-top: 30px;
    margin-left: 200px;
    display: flex;
    padding: 11px; 
    width: 1175px;         
 }
 #likeRanking{
   flex: 0.5;
 }
 #clickRanking{
   flex: 0.5;
 }
 #userLike{
   flex: 2;
 }
 #ranking1{
   flex: 1;
 }
 #ranking2{
   flex: 1;
 }
 #ranking3{
   flex: 1;
 }
 #kospiDate{
   font-size: small;
 }
 #fontColor1{
    font-size: large;
    font-weight: 600;
    color:rgb(28, 126, 139);
 }
 #fontColor2{
    font-size: large;
    font-weight: 600;
    color:rgb(54, 180, 100);
 }
 #fontColor3{
    font-size: large;
    font-weight: 600;
    color:rgb(164, 130, 180);
 }
